# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
retrain_env/
.env/
.env.*

# Jupyter
.ipynb_checkpoints/

# OS junk
.DS_Store
Thumbs.db
desktop.ini

# Editor / IDE
.vscode/
.idea/
*.swp
*.swo

# Logs & temp
*.log
*.tmp
*.temp

# Build / packaging
build/
dist/
*.egg-info/

# ML extra artifacts
*.joblib
*.h5
*.onnx

# Keep important trained models
!log_linearregressionmodel.pkl
!linearregressionmodel.pkl

# Streamlit
.streamlit/

# Secrets
secrets.toml
